<div class="border">
</div>
<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>vehicleName</th>
      <th>vehicleModel</th>
      <th>vehicleDetails</th>
      <th>vehicleAvailablility</th>
      <th>vehicleCost</th>
      <th>Edit</th>
      <th>Delete</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let vd of vehicleData">
      <td><span>{{vd.vehicleName}}</span></td>
      <td><span>{{vd.vehicleModel}}</span></td>
      <td><span>{{vd.vehicleDetails}}</span></td>
      <td><span>{{vd.vehicleAvailability}}</span></td>
      <td><span>{{vd.vehicleCost | currency:'INR'}}</span></td>
      <td>
        <button type="submit" class="btn btn-sm btn-warning" (click)="oneditclick()">Edit</button>
        </td>
        <td>
        <button class="btn btn-sm btn-danger">Delete</button>
      </td>
    </tr>
    </tbody>
    <button type="submit" class="btn btn-outline-dark" (click)="onnewcarclick()">New Car</button>
  </table>
</div>
