<div class="container" style="padding-top:60px;">
  <div class="row">
    <div class="mb-2">
      <button routerLink="/dealermenu" class="btn btn-sm btn-dark mb-3 ">Back</button>
    </div>
    <div class="col-md-6 mx-auto">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <h1 style="text-align:center">Add new car</h1>
            <form #newcarForm="ngForm" (ngSubmit)="onSubmit(newcarForm)">

              <!-- VehicleName -->
              <div class="mb-2">
                <label>vehicle Name</label>
                <input type="text" class="form-control" name="vehicleName" placeholder="Enter Vehicle Name" [(ngModel)]="model.vehicleName" #vehiclename="ngModel"
                  autocomplete="off" required minlength="3" [ngClass]="{'is-invalid':newcarForm.submitted && vehiclename.invalid}">
              </div>

              <!-- Validation -->
              <div *ngIf="newcarForm.submitted || (vehiclename.touched && vehiclename.invalid)">
                <div class="text-danger" *ngIf="vehiclename.errors?.['required']">Vehicle Name is required</div>
                <div class="text-danger" *ngIf="vehiclename.errors?.['minlength']">Vehicle Name should be minimum 3 characters</div>
              </div>

              <!-- VehicleModel -->
              <div class="mb-2">
                <label>vehicle Model</label>
                <input type="text" class="form-control" name="vehicleModel" placeholder="Enter Vehicle Model" [(ngModel)]="model.vehicleModel" #vehiclemodel="ngModel"
                  autocomplete="off" required minlength="3" [ngClass]="{'is-invalid':newcarForm.submitted && vehiclemodel.invalid}">
              </div>

              <!-- Validation -->
              <div *ngIf="newcarForm.submitted || (vehiclemodel.touched && vehiclemodel.invalid)">
                <div class="text-danger" *ngIf="vehiclemodel.errors?.['required']">customer Model is required</div>
                <div class="text-danger" *ngIf="vehiclemodel.errors?.['minlength']">customer Model should be minimum 3 characters</div>
              </div>

              <!-- Cost -->
              <div class="mb-2">
                <label>Cost</label>
                <input type="number" class="form-control" name="cost" placeholder="Enter Vehicle Cost" [(ngModel)]="model.cost" required
                 #cost="ngModel">
                </div>
              <!-- Validation -->
              <div *ngIf="newcarForm.submitted || (cost.touched && cost.invalid)">
              <div class="text-danger" *ngIf="cost.errors?.['required']">cost is required</div>
            </div>

              <!-- Description -->
              <div class="mb-2">
              <label>Description</label>
              <textarea class="form-control" name="description" placeholder="Enter Vehicle Description" [(ngModel)]="model.description" required
              #description="ngModel" [ngClass]="{'is-invalid':newcarForm.submitted && description.invalid}"></textarea>
              </div>

              <!-- Validation -->
              <div *ngIf="newcarForm.submitted ||(description.touched && description.invalid)">
                <div class="text-danger" *ngIf="description.errors?.['required']">Description is required</div>
                </div>

             <!-- Availability -->
             <div class="mb-2">
              <label>Availability</label>
              <select class="form-select" name="availability" placeholder="Choose Availability" [(ngModel)]="model.availability" required #Availability="ngModel">
                <option *ngFor="let availability of availability" [ngValue]="availability"> {{availability}} </option>
              </select>
            </div>

            <!-- Validation -->
            <div *ngIf="newcarForm.submitted ||(Availability.touched && Availability.invalid)">
              <div class="text-danger" *ngIf="Availability.errors?.['required']">Choose Availability</div>
            </div>

              <!-- button -->
              <div class="mb-2">
                <button routerLink="/dealermenu" type="submit" [disabled]="!newcarForm.valid" (click)="onaddnewcarclick()"class="btn btn-outline-dark">NewCar</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


